*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#0d1117;
  color:white;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  
}

.container{
  width:450px;
  background:#161b22;
  padding:20px;
  border-radius:10px;
}

/* Heading */
h1{
  text-align:center;
  margin-bottom:15px;
}

/* Toggle */
.toggle{
  display:flex;
  margin-bottom:15px;
}

.toggle button{
  flex:1;
  padding:8px;
  border:none;
  background:#21262d;
  color:white;
  cursor:pointer;
}

.toggle .active{
  background:#238636;
}

/* Forms */
form{
  display:flex;
  gap:8px;
  margin-bottom:10px;
}

input{
  flex:1;
  padding:8px;
  border:none;
  border-radius:5px;
}

button{
  background:#238636;
  color:white;
  border:none;
  padding:8px;
  border-radius:5px;
  cursor:pointer;
}

/* Card */
.card{
  background:#0d1117;
  padding:15px;
  border-radius:8px;
  margin-top:10px;
  text-align:center;
}

.card img{
  width:80px;
  border-radius:50%;
}

/* Winner / Loser */
.winner{
  border:2px solid green;
}

.loser{
  border:2px solid red;
}

/* Utils */
.hidden{
  
  display:none;
}

.error{
  color:red;
  text-align:center;
}
